* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/img/fondo\ de\ img.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encabezado {
  width: 90%;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.692);
  border: solid gray;
  border-radius: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 10px;
}
#search {
  padding: 5px;
  border-radius: 5px;
  border: solid gray;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.carrito a {
  text-decoration: none;
  margin: 10px;
}
.carrito img {
  background-color: grey;
  width: 30px;
  height: 30px;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.producto {
  background-color: rgba(0, 0, 0, 0.692);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 300px;
  height: 400px;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  border: solid gray;
}
.producto:hover {
  background-color: rgba(128, 128, 128, 0.726);
  border: solid rgba(22, 4, 185, 0.548);
  color: black;
  font-style: italic;
}
#descripcion {
  width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;
  font-size: small;
}
.precio {
  font-size: 30px;
}
.imagen {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.titulo {
  font-size: 15px;
  text-shadow: 2px 5px 5px black;
}
.boton {
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.boton:hover {
  background-color: white;
  color: black;
  text-shadow: 2px 2px 4px gray;
  box-shadow: 2px 2px 5px black;
}
